{%- macro render_modal(modal_title,id ,urlview ,btnlabel, btntype) -%}
<div class="modal fade" id="{{ id }}" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="{{ id }}">{{ modal_title }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form action="{{ urlview }}" method="POST">
            <div class="modal-body">
                <p>{{ caller() }}</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-{{ btntype }}">{{ btnlabel }}</button>
            </div>
        </form>
      </div>
    </div>
  </div>
{%- endmacro -%}

{%- macro render_card_sm(name, bio, avatar_url, id) -%}
  <div class="card bg-white-container mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-2">
          <img src="{{ avatar_url }}" class="small-avatar" alt="User Avatar">
        </div>
        <div class="col">
          <h5 class="card-title">{{ name }}</h5>
          <p class="card-text">{{ bio }}</p>
          <div class="row hatte-footer">
            <form action="#" method="POST">
              <button type="submit" class="btn btn-outline-danger btn-sm" value="{{ id }}" name="follow">Wanna Hatte you!</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{%- endmacro -%}

{%- macro render_card_big(username, message, avatar_url, created, pic, id) -%}
<div class="card bg-white-container mt-3">
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <img src="{{ avatar_url }}" class="small-avatar" alt="User Avatar">
      </div>
      <div class="col">
        <h5 class="card-title">{{ username }}</h5>
        <p class="card-text">{{ message }}</p>
        {% if pic %}
          <img src="{{ pic }}" class="card-img-top" alt="...">
        {% endif %}
        <div class="row hatte-footer">
          <p class="card-text"><small class="text-muted">{{ created }}</small></p>
          <form action="#" method="POST">
            <button type="submit" class="btn btn-outline-danger btn-sm" name="unhatte" value={{ id }}>UnHatte</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{%- endmacro -%}