{% extends "base.html" %}

{%- block title -%}
        &ThinSpace; {{ username | capitalize }}    
{%- endblock title -%}


{% block content %}
    <div class="container">
        <div class="row">
            <div class="mt-3 col-3">
                <img src="{{ url_for('static', filename='noun_User_3401294.svg') }}" class="big-avatar" alt="User Avatar">
                <div>
                    <h3>{{ username | capitalize }}</h3>
                    <p class="text-muted">Put a bio here...</p>
                        <button type="button" class="btn btn-secondary btn-sm">
                        Hatters <span class="badge badge-light">4</span>
                        </button>
                        <button type="button" class="btn btn-secondary btn-sm">
                        Hatted <span class="badge badge-light">21</span>
                        </button>
                    <button class="btn btn-dark btn-block mt-3">
                        <i class="fas fa-hand-middle-finger"></i>
                        Spread Hatte!
                    </button>
                </div>
            </div>
            <div class="col">
                <h3 class="mt-3">Just the Hatte</h3>
                <div class="card bg-white-container mt-3">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-1">
                          <img src="{{ url_for('static', filename='noun_User_3401294.svg') }}" class="small-avatar" alt="User Avatar">
                        </div>
                        <div class="col">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                          <img src="https://www.latercera.com/resizer/po-j1bboJiQanQfygG2BLcQPfWA=/900x600/smart/arc-anglerfish-arc2-prod-copesa.s3.amazonaws.com/public/XITZUK4ADZA6NBSRJYR72SYDRE.jpg" class="card-img-top" alt="...">
                          <div class="row hatte-footer">
                            <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                            <form action="#" method="POST">
                              <button type="button" class="btn btn-outline-danger btn-sm">UnHatte</button>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
        </div>
    </div>
{% endblock content %}